In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s = df['Name'][0:10]# in series we can see index but in list we cannot see

In [5]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [6]:
len(s)

10

In [7]:
type(s)

pandas.core.series.Series

In [8]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [9]:
l = ['sudh','b','c','d','e','f','g','h','i','j']

In [10]:
s1 =pd.Series(list(s),index=l)
# list(s): The list() function is applied to s, converting it into a Python list. This step might be necessary if 
# s is not already a list, as the pd.Series() constructor typically expects an iterable object as its first argument.

In [18]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [12]:
s1

sudh                              Braund, Mr. Owen Harris
b       Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                  Heikkinen, Miss. Laina
d            Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                Allen, Mr. William Henry
f                                        Moran, Mr. James
g                                 McCarthy, Mr. Timothy J
h                          Palsson, Master. Gosta Leonard
i       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                     Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [13]:
s[0]

'Braund, Mr. Owen Harris'

In [14]:
s1[0]#python maintains an implicit index for the series also from which we can access elements only till we have given a number index in our own index after that default python index will be lost

'Braund, Mr. Owen Harris'

In [15]:
s1["sudh"]# can be accessed by the index we have given.

'Braund, Mr. Owen Harris'

In [16]:
s2=s1.append(s)
print(s2)

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
s2[0]

In [ ]:
s[0]

In [ ]:
s4 = pd.Series([3,4,5,6,6] , index=[2,4,5,6,1])
s4

In [ ]:
s5 = pd.Series([34,345,45,45,454] , index=[9,4,5,6,7])

In [ ]:
s6 = s4.append(s5)

In [ ]:
s6

In [ ]:
s6[4]

In [ ]:
s6[0:5]

In [ ]:
s4

In [ ]:
s5

In [ ]:
s4*s5#it perform  operations by index as in s5 donot have index 1 so given nan to it.

In [ ]:
s4+s5

In [ ]:
a=pd.Series([1,2,3,4,5,6,7,8])
a

In [ ]:
a[0]

In [ ]:
k=['a','b','c','d','e','f','g','h']
b=pd.Series(list(a),index=k)
b.append(pd.Series('9',index=['i']))

In [ ]:
sr=pd.Series([45,34],index=['a','b'])
b
sr

In [ ]:
g=b.append(sr)

In [ ]:
g

In [ ]:
g[1]

conclusion==> python makes its default index if we change the index and if in changed index there is only alpha index then python maintains its default index but if any digit index is given in that than python lost its default index and after slicing it takes default indexes.